﻿<html>
<head>
    <title>Labor Work</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Template CSS Files -->
    <link rel="stylesheet" href="@Url.Content("~/Templatecontent/css/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/Templatecontent/css/colors/main.css")">
</head>
<body>
    <div id="wrapper">
        <header id="header-container">
            <!-- Header -->
            <div id="header">
                <div class="container">
                    <!-- Left Side Content -->
                    <div class="left-side">
                        <!-- Logo -->
                        <div id="logo">
                            <a href="#"><img src="@Url.Content("~/Templatecontent/images/logo.png")" alt=""></a>
                        </div>
                        <!-- Mobile Navigation -->
                        <div class="mmenu-trigger">
                            <button class="hamburger hamburger--collapse" type="button">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>

                        <!-- Main Navigation -->
                        <nav id="navigation" class="style-1">
                            <ul id="responsive">
                                <li>
                                    <a class="current" href="#">Home</a>
                                    <ul>
                                        <li><a href="#">Home 1</a></li>
                                        <li><a href="#">Home 2</a></li>
                                        <li><a href="#">Home 3</a></li>
                                        <li><a href="#">Home 4</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Listings</a>
                                    <ul>
                                        <li>
                                            <a href="#">List Layout</a>
                                            <ul>
                                                <li><a href="#">With Sidebar</a></li>
                                                <li><a href="#">Full Width</a></li>
                                                <li><a href="#">Full Width + Map</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Grid Layout</a>
                                            <ul>
                                                <li><a href="#">With Sidebar 1</a></li>
                                                <li><a href="#">With Sidebar 2</a></li>
                                                <li><a href="#">Full Width</a></li>
                                                <li><a href="#">Full Width + Map</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Half Screen Map</a>
                                            <ul>
                                                <li><a href="#">List Layout</a></li>
                                                <li><a href="#">Grid Layout 1</a></li>
                                                <li><a href="#">Grid Layout 2</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Single Listing 1</a></li>
                                        <li><a href="#">Single Listing 2</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">User Panel</a>
                                    <ul>
                                        <li><a href="#">Dashboard</a></li>
                                        <li><a href="#">Messages</a></li>
                                        <li><a href="#">Bookings</a></li>
                                        <li><a href="#">My Listings</a></li>
                                        <li><a href="#">Reviews</a></li>
                                        <li><a href="#">Bookmarks</a></li>
                                        <li><a href="#">Add Listing</a></li>
                                        <li><a href="#">My Profile</a></li>
                                        <li><a href="#">Invoice</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Pages</a>
                                    <div class="mega-menu mobile-styles three-columns">
                                        <div class="mega-menu-section">
                                            <ul>
                                                <li class="mega-menu-headline">Pages #1</li>
                                                <li><a href="#"><i class="sl sl-icon-user"></i> User Profile</a></li>
                                                <li><a href="#"><i class="sl sl-icon-check"></i> Booking Page</a></li>
                                                <li><a href="#"><i class="sl sl-icon-plus"></i> Add Listing</a></li>
                                                <li><a href="#"><i class="sl sl-icon-docs"></i> Blog</a></li>
                                            </ul>
                                        </div>

                                        <div class="mega-menu-section">
                                            <ul>
                                                <li class="mega-menu-headline">Pages #2</li>
                                                <li><a href="#"><i class="sl sl-icon-envelope-open"></i> Contact</a></li>
                                                <li><a href="#"><i class="sl sl-icon-hourglass"></i> Coming Soon</a></li>
                                                <li><a href="#"><i class="sl sl-icon-close"></i> 404 Page</a></li>
                                                <li><a href="#"><i class="sl sl-icon-equalizer"></i> Masonry Filtering</a></li>
                                            </ul>
                                        </div>
                                        <div class="mega-menu-section">
                                            <ul>
                                                <li class="mega-menu-headline">Other</li>
                                                <li><a href="#"><i class="sl sl-icon-settings"></i> Elements</a></li>
                                                <li><a href="#"><i class="sl sl-icon-tag"></i> Pricing Tables</a></li>
                                                <li><a href="#"><i class="sl sl-icon-pencil"></i> Typography</a></li>
                                                <li><a href="#"><i class="sl sl-icon-diamond"></i> Icons</a></li>
                                            </ul>
                                        </div>

                                    </div>
                                </li>

                            </ul>
                        </nav>
                        <div class="clearfix"></div>
                        <!-- Main Navigation / End -->
                        <!-- Footer Content -->
                    </div>
                    <!-- Left Side Content / End -->
                    <!-- Right Side Content / End -->
                    <div class="right-side">
                        <div class="header-widget">
                            <a href="#sign-in-dialog" class="sign-in popup-with-zoom-anim"><i class="sl sl-icon-login"></i> Sign In</a>
                            <a href="dashboard-add-listing.html" class="button border with-icon">Add Listing <i class="sl sl-icon-plus"></i></a>
                        </div>
                    </div>
                    <!-- Right Side Content / End -->
                    <!-- Sign In Popup -->
                    <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
                        <div class="small-dialog-header">
                            <h3>Sign In</h3>
                        </div>
                        <!--Tabs -->
                        <div class="sign-in-form style-1">
                            <ul class="tabs-nav">
                                <li class=""><a href="#tab1">Log In</a></li>
                                <li><a href="#tab2">Register</a></li>
                            </ul>
                            <div class="tabs-container alt">
                                <!-- Login -->
                                <div class="tab-content" id="tab1" style="display: none;">
                                    <form method="post" class="login">
                                        <p class="form-row form-row-wide">
                                            <label for="username">
                                                Username:
                                                <i class="im im-icon-Male"></i>
                                                <input type="text" class="input-text" name="username" id="username" value="" />
                                            </label>
                                        </p>
                                        <p class="form-row form-row-wide">
                                            <label for="password">
                                                Password:
                                                <i class="im im-icon-Lock-2"></i>
                                                <input class="input-text" type="password" name="password" id="password" />
                                            </label>
                                            <span class="lost_password">
                                                <a href="#">Lost Your Password?</a>
                                            </span>
                                        </p>
                                        <div class="form-row">
                                            <input type="submit" class="button border margin-top-5" name="login" value="Login" />
                                            <div class="checkboxes margin-top-10">
                                                <input id="remember-me" type="checkbox" name="check">
                                                <label for="remember-me">Remember Me</label>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <!-- Register -->
                                <div class="tab-content" id="tab2" style="display: none;">
                                    <form method="post" class="register">

                                        <p class="form-row form-row-wide">
                                            <label for="username2">
                                                Username:
                                                <i class="im im-icon-Male"></i>
                                                <input type="text" class="input-text" name="username" id="username2" value="" />
                                            </label>
                                        </p>

                                        <p class="form-row form-row-wide">
                                            <label for="email2">
                                                Email Address:
                                                <i class="im im-icon-Mail"></i>
                                                <input type="text" class="input-text" name="email" id="email2" value="" />
                                            </label>
                                        </p>
                                        <p class="form-row form-row-wide">
                                            <label for="password1">
                                                Password:
                                                <i class="im im-icon-Lock-2"></i>
                                                <input class="input-text" type="password" name="password1" id="password1" />
                                            </label>
                                        </p>
                                        <p class="form-row form-row-wide">
                                            <label for="password2">
                                                Repeat Password:
                                                <i class="im im-icon-Lock-2"></i>
                                                <input class="input-text" type="password" name="password2" id="password2" />
                                            </label>
                                        </p>
                                        <input type="submit" class="button border fw margin-top-10" name="register" value="Register" />

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Sign In Popup / End -->
                </div>
            </div>
            <!-- Header / End -->
        </header>
        <div class="clearfix"></div>
        <!-- Header Container / End -->
        @RenderBody()
        <!-- Footer
        ================================================== -->
        <div id="footer" class="sticky-footer">
            <!-- Main -->
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <img class="footer-logo" src="@Url.Content("~/Templatecontent/images/logo.png")" alt="">
                        <br><br>
                        <p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 ">
                        <h4>Helpful Links</h4>
                        <ul class="footer-links">
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Sign Up</a></li>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Add Listing</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                        <ul class="footer-links">
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Our Partners</a></li>
                            <li><a href="#">How It Works</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-3  col-sm-12">
                        <h4>Contact Us</h4>
                        <div class="text-widget">
                            <span>12345 Little Lonsdale St, Melbourne</span> <br>
                            Phone: <span>(123) 123-456 </span><br>
                            E-Mail:<span> <a href="#"><span class="__cf_email__" data-cfemail="117e7777787274517469707c617d743f727e7c">[email&#160;protected]</span></a> </span><br>
                        </div>
                        <ul class="social-icons margin-top-20">
                            <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                            <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                            <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                            <li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
                        </ul>
                    </div>
                </div>

                <!-- Copyright -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyrights">© 2017 Listeo. All Rights Reserved.</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer / End -->
        <!-- Back To Top Button -->
        <div id="backtotop"><a href="#"></a></div>
    </div>
    <!-- Template JavaScripts  -->
    <script src="https://maps.googleapis.com/maps/api/js?key= AIzaSyDdxbEUZlCkkd5WqtAbJDYY8Qicu4AAUs4 ;libraries=places&amp;callback=initAutocomplete"></script>
    <script type="text/javascript" src="@Url.Content("~/Templatecontent/scripts/jquery-2.2.0.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Templatecontent/scripts/mmenu.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Templatecontent/scripts/chosen.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Templatecontent/scripts/slick.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Templatecontent/scripts/rangeslider.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Templatecontent/scripts/magnific-popup.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Templatecontent/scripts/waypoints.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Templatecontent/scripts/counterup.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Templatecontent/scripts/jquery-ui.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Templatecontent/scripts/tooltips.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Templatecontent/scripts/custom.js")"></script>
    <script>
        function initAutocomplete() {
            var input = document.getElementById('autocomplete-input');
            var autocomplete = new google.maps.places.Autocomplete(input);

            autocomplete.addListener('place_changed', function () {
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    window.alert("No details available for input: '" + place.name + "'");
                    return;
                }
            });

            if ($('.main-search-input-item')[0]) {
                setTimeout(function () {
                    $(".pac-container").prependTo("#autocomplete-container");
                }, 300);
            }
        }
    </script>
</body>
</html>
